
@{
    ViewData["Title"] = "Index";
}

<h2> Salas agendadas</h2>

<div id="_salas">

</div>


@section scripts {
    <script>
    buscarSalas();
    function buscarSalas() {
        $.ajax({
            url: '@Url.Action("_GetAgendamentoSalas", "Agendamento")',
            data: {},
            dataType: "text",
            type: 'POST',
            async: true,
            success: function (data) {
                $('#_salas').html(data);
            }
        });

    }

        function Deletar(agendamentoId, salaId) {
        $.ajax({
            url: '@Url.Action("Deletar", "Agendamento")',
            data: { 'agendamentoId': agendamentoId, 'salaId': salaId},
            dataType: "text",
            type: 'POST',
            async: true,
            success: function (data) {
                alert(salaId);
                buscarSalas();
                //renderizar a partial view de novo

            }
        });
    }

    </script>
}